BOT_TOKEN=
DATABASE_URL=postgresql://user:password@localhost:5432/shop
ADMINS=1160081337
SUPER_ADMIN_ID=1160081337
ADMIN_LOGIN=admin
ADMIN_PASSWORD=123
SHOP_TITLE=Bloody Shop
REFERRAL_REWARD_REFERRER=1000
REFERRAL_REWARD_NEW_USER=300
