# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
.idea/
__pycache__/
.venv/
venv/
*.pyc
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
